.head  {
  margin-top: 1.5em;
  margin-left: 10vw;
  margin-right: 10vw;
}

h1 {
  font-size: 1.7em;
}

p {
  font-size: 0.9em;
}

#searchbar {
  margin-top: 1.2em;
  position: relative;
}

input {
  height: 1.6em;
  width: 95%;
  border-style: solid;
  border-radius: 20px;
  border-color: #C1C1C1;
}

#button {
  position: absolute;
  // margin-right: -0.5em;
  top: 0;
  right: 0%;
}

button {
  height: 2em;
  width: 4em;
  border-radius: 20px;
  background-color: #5D576B;
}

#searchbutton {
  position: absolute;
  top: 5%;
  left: 28%;
}

img {
  height: 1.5em;
}

hr {
  margin-top: 1.2em;
  border: 1px solid #C1C1C1;
}