#cabecera {
  margin-top: 6em;
  margin-left: 5.5em;
  margin-right: 5.5em;
  margin-bottom: 6em;
}

#logo-titulo {
  position: relative;
}

#logo {
  height: 4em;
}

#titulo {
  position: absolute;
  bottom: 7%;
  right: 0;
}